@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #0a0a0a;
  --inputBox: #f3f4f8;
}

.dark {
  --background: #0a0a0a;
  --foreground: #f6ecfb;
  --inputBox: #202020;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-inputBox: var(--inputBox);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
