@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #0a0a0a;
  --inputBox: #f3f4f8;
  --textGray : #747474;
  --pageBackground: #e9eef4;
}

.dark {
  --background: #0a0a0a;
  --foreground: #f6ecfb;
  --inputBox: #151515;
  --textGray: #5a5a5a;
  --pageBackground: #030303;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-inputBox: var(--inputBox);
  --color-textGray: var(--textGray);
  --color-pageBackground: var(--pageBackground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
