@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #000000;
  --inputBox: #f3f4f8;
  --textGray : #747474;
  --pageBackground: #e9eef4;
  --grayBlock: #f3f3f3;
  --dashboard: #ffffff;
  --statsGraph: #25bc5b;
  --overviewGraph: #4095ff;
  --subscriptionGraph: #ffa800;
}

.dark {
  --background: #000000;
  --foreground: #ffffff;
  --inputBox: #151515;
  --textGray: #5a5a5a;
  --pageBackground: #030303;
  --grayBlock: #545454;
  --dashboard: #262626;
  --statsGraph: #4ac9b8;
  --overviewGraph: #fa7b1f;
  --subscriptionGraph: #51d1ba;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-inputBox: var(--inputBox);
  --color-textGray: var(--textGray);
  --color-grayBlock: var(--grayBlock);
  --color-dashboard: var(--dashboard);
  --color-statsGraph: var(--statsGraph);
  --color-overviewGraph: var(--overviewGraph);
  --color-pageBackground: var(--pageBackground);
  --color-subscriptionGraph: var(--subscriptionGraph);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
